#odin {
    box-sizing: border-box;
    height: auto;
    width: 825px;
    background-color: rgba(15, 55, 175, 0.767);
    color: rgb(255, 255, 0);
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
    border: 2px solid rgb(0, 0, 0);
}

#recipes {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(15, 55, 175, 0.767);
}

.list {
    box-sizing: border-box;
    height: auto;
    width: 275px;
    font-family: monospace;  
    float: left;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

.list:hover {
    background-color: rgb(40, 50, 50);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 0);
}

.waffle {
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
}

.pizza {
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
}

.chili {
    border-bottom: 2px solid rgb(0, 0, 0);
}
img {
    height: auto;
    width: 825px;
    padding-top: 2px;
}

body {
    background-color: slategray;
}

.title {
    height: auto;
    width: 825px;
    background-color: rgba(20, 25, 25, 0.8);
    color: rgb(0, 255, 50);
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
}

.header {
    box-sizing: border-box;
    height: auto;
    width: 825px;
    text-align: center;
    background-color: rgba(20, 25, 25, 0.8);
    color: rgb(0, 255, 50);
    font-size: 40px;
    margin-top: 0px;
}

p {
    font-size: 25px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: -25px;
    font-size: 25px;
}

li {
    padding: 10px;
}

ol {
    margin-top: -25px;
    font-size: 25px;
    padding-left: 34px;
}

button {
    background-color: rgba(0, 0, 0, 1);
}

.button {
    box-sizing: content-box;
    display:inline-block;
    font-size: 55px;
    color: rgb(0, 255, 50);
}